@use 'header.scss';
@use 'hero.scss';
@use 'single.scss';

* {
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(26 26 26);
  color: #fff;
  font-family: "Inter", serif;;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 16px;
  line-height: 28px;
}

a {
  font-size: 14px;
  color: #3eaf7c;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #31c573;
  }
}

main {
  .container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }
}

.border-bottom {
  border-bottom: 1px solid #3d3c3c78;
}

.py-4 {
  padding: 4rem 0;
}

.post-list {
  .post-title {
    a {
      font-size: 24px;
      line-height: 38px;
      color: #fff;
    }
  }

  .post-item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      width: fit-content;
    }
  }
}